API_HOSTNAME=wk-dev
API_PORT=3000
API_PROTOCOL=http
API_SERVICE_NAME=API
APPLICATION_KEYS=Writing_Tools
CONSUMER_KEY=key
CONSUMER_SECRET=secret
FRONT_END_ORIGIN=http://localhost:3666
JWT_SECRET=secret
LOGGING_LEVEL=debug
LOGGING_TRANSPORT=console
LOGGLY_TOKEN=8240a0a9-d319-4768-aae7-f603f95bbabb
LOGGLY_SUBDOMAIN=macmillan.loggly.com
LOGGLY_SERVICE=writing-tools
LOGGLY_TAG=ml-writing-tools
MIGRATE_ENV=development
NODE_ENV=development
POSTGRES_DATABASE=writer_key
POSTGRES_HOST=127.0.0.1
POSTGRES_PASSWORD=writer_key
POSTGRES_PORT=5432
POSTGRES_USER=writer_key
SPA_URL=http://localhost:8080/app.bundle.js
SWAGGER_UI_URL=http://localhost:4666
TESTING_API_PORT=4667
FRONTEND_PORT=8080
SERVE_PORT=10080
SWAGGER_PORT=4666
PLATFORM_SERVICES_URL=http://services-dev.mldev.cloud
PLATFORM_SERVICES_HOSTNAME=services-dev
PLATFORM_SERVICES_PROTOCOL=http
PLATFORM_SERVICES_REQUEST_TIMEOUT=10000
MOCK_PLATFORM_SERVICES=true
INSTANA_ENABLED=false
ALGOLIA_APP_ID=CJTH0ANX16
ALGOLIA_APP_READ_KEY=b003afc0c873ff782e0882053b632e52
ALGOLIA_JAGO_INDEX_NAME=cw_dev_jago
EBOOK_PLATFORM_URL=https://ebooks.mldev.cloud/
