export API_HOSTNAME=wk-dev
export API_PORT=3000
export API_PROTOCOL=http
export API_SERVICE_NAME=API
export APPLICATION_KEYS=Writing_Tools
export CONSUMER_KEY=key
export CONSUMER_SECRET=secret
export FRONT_END_ORIGIN=http://localhost:3666
export JWT_SECRET=secret
export LOGGING_LEVEL=debug
export LOGGING_TRANSPORT=console
export LOGGLY_TOKEN=8240a0a9-d319-4768-aae7-f603f95bbabb
export LOGGLY_SUBDOMAIN=macmillan.loggly.com
export LOGGLY_SERVICE=writing-tools
export LOGGLY_TAG=ml-writing-tools
export MIGRATE_ENV=development
export NODE_ENV=development
export POSTGRES_DATABASE=writer_key
export POSTGRES_HOST=127.0.0.1
export POSTGRES_PASSWORD=writer_key
export POSTGRES_PORT=5432
export POSTGRES_USER=writer_key
export SPA_URL=http://localhost:8080/app.bundle.js
export SWAGGER_UI_URL=http://localhost:4666
export TESTING_API_PORT=4667
export FRONTEND_PORT=8080
export SERVE_PORT=10080
export SWAGGER_PORT=4666
export PLATFORM_SERVICES_URL=http://services-dev.mldev.cloud
export PLATFORM_SERVICES_HOSTNAME=services-dev
export PLATFORM_SERVICES_PROTOCOL=http
export PLATFORM_SERVICES_REQUEST_TIMEOUT=10000
export MOCK_PLATFORM_SERVICES=true
export INSTANA_ENABLED=false
export ALGOLIA_APP_ID=CJTH0ANX16
export ALGOLIA_APP_READ_KEY=b003afc0c873ff782e0882053b632e52
export ALGOLIA_JAGO_INDEX_NAME=cw_dev_jago
export EBOOK_PLATFORM_URL=https://ebooks.mldev.cloud/
